body{
	background: #fff;
}
.logo{
	width: 10%;
	height:auto;
}
h1{
	display:inline-block;
	text-align: center;
}
ul{
	border: 2px solid red;
	list-style: none;
}
li{
  width: 150px;
  display: inline-block;
  text-align: center;
}
a{
  text-decoration: none;
  display: block;
  color: #000;
}
a:hover{
  color:#000;
  border-bottom: 4px solid #8fca00;
}
a:active{
  color: #000;
}